gunicorn
pymongo
dnspython
certifi
fastapi
uvicorn[standard]
python-multipart
langchain
langchain_core
langchain_google_genai
langchain_community
langchain-openai
openai
google-generativeai
anthropic
langchain-anthropic
python-dotenv
jq
pypdf
pydantic[email]
email-validator
python-jose[cryptography]
bcrypt>=4.0
httpx